{% extends 'base.html' %}

{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
    {% if object %}
        <h1>Editing Post</h1>
    {% else %}
        <h1>Add Post</h1>
    {% endif %}
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table style="background-color:white">
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <br>
    <input type="submit" value="Submit!" class="btn blue-grey darken-2" style="margin-left:1em">
  </form>
{% endblock %}