{% extends 'base.html' %}
{% block content %}

<h1>About DDD</h1>

<p>Welcome to Dungeons, Daddies, and Divas, an all-inclusive space for DnD players to meet, make connections, and have enough adventures for multiple lifetimes.</p>

<p>The current version of our site is a simple forum for users to create, comment on, edit, qnd delete posts. In future development, we would like to explore features that empower users to create profile pages and maximize the ways they might communicate with one another.</p>

<p>Feel free to make this a space to be the most authentic fantastical versions of yourselves! And please, let us, the developers, know how we can help you, the great nerds of this world, find love. If nerds don't find love quick, we'll go extinct!</p>
<br>
<br>
<img src="../static/screenshots/GuyFieri2.jpg" alt="">
<br>
<p>Be Whoever You Want! (art credit: <a href="https://www.sampetersonart.com/">Sam Peterson</a>)</p>
<br>
<img src="../static/screenshots/GuyFieri1.jpg" alt="">
<br>
<p>And Find Your Perfect Match! (And thanks Guy Fieri)</p>

{% endblock %}