{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dungeons, Daddies & Divas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="#37474f grey darken-3">
    <!-- <header class="navbar-fixed">
        <nav class="#37474f blue-grey darken-2">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;DDD</a></li>
                </ul>
                <ul class="right">
                        <li><a href="">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'comments_create' %}">Add a Comment</a></li>
                        <li><a href="{% url 'comments_index' %}">View All Comments</a></li>
                        <li><a href="{% url 'posts_create' %}">Add a Post</a></li>
                        <li><a href="{% url 'index' %}">View All My Posts</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header> -->

    <header class="nav-wrapper">
        <nav class="#37474f blue-grey darken-2 center" style="font-size:4em"><a href="/">DDD</a></nav>
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
                <div class="background">
                    <img class="responsive-image" src="../../static/images/carousel1.jpg">
                </div>
                <a href="#user"><img class="circle" src="../../static/images/dnd2.jpg"></a>
                <a href="#name"><span class="white-text name">John Deezy</span></a>
                <a href="#email"><span class="white-text email">deezyfbaby@gmail.com</span></a>
            </div></li>
            <li><a href=""><i class="material-icons">description</i>About</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'comments_create' %}"><i class="material-icons">add_comment</i>Add a Comment</a></li>
                <li><a href="{% url 'comments_index' %}"><i class="material-icons">visibility</i>View All Comments</a></li>
                <li><a href="{% url 'posts_create' %}"><i class="material-icons">post_add</i>Add a Post</a></li>
                <li><a href="{% url 'index' %}"><i class="material-icons">view_list</i>View All My Posts</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
        <a style="position:relative; bottom:3em; left:1em" href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </header>


    <main class="container white-text blue-grey darken-4">
        {% block content %}
        {% endblock %}
    </main>

  	<footer class="page-footer #37474f blue-grey darken-2">
       <div class="right">&copy; 2020 Dungeons, Daddies & Divas &nbsp;</div>
    </footer>

</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>

</html>