{% extends 'base.html' %}
{% block content %}

<h1 class="center" style="font-size:2.5em">Dungeons, Daddies & Divas<br><span class="red-text">Love at first roll</span></h1>

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../static/images/carousel1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../static/images/carousel2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../static/images/carousel3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../static/images/carousel4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../static/images/carousel5.jpg"></a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const elems = document.querySelectorAll('.carousel');
        const instances = M.Carousel.init(elems);
    });  
</script>

{% endblock %}